
.watermark_container {
    max-height: 100%;
    background: #fff;
    padding: 20px;
    margin: 0px;
    position: relative;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    min-height: 86vh;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}