
.logoBox1
{
    /* padding: 15px; */
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 151px;
    border-bottom: 1px solid #5bb0bd;
}

.logoBox1 > a {
    text-align: center;
}

.userAuthorInfo
{
    color: #ffffff;
}

.userAuthorName
{
    font-size: 20px;
    margin: 0px;
}
.userAuthorEmail
{
    font-size: 13px;
    margin: 0px;
}

/* .userImage
{
    border: 1px solid #A4E4EC;
    border-radius: 10px;
    padding: 4px;
} */

img.userAuthor {
    border-radius: 50%;
    border: 3px solid #fff;
    width: 60px;
    height: 60px;
}

.userImage
{
    padding: 5px;
}