/* unvisited link */
.listItem a:link {
    color: #A4E4EC;
}

/* mouse over link */
.listItem a:hover {
    color: #0E6673;
}

/* selected link */
.listItem a:active {
    color: #0E6673;
}

.listItem a>active  {
    background: #3DC7CE!important;
}

.listItem :hover {
    background: #A4E4EC!important;
}

.logoBox1 > a {
    text-align: center;
}

.mainListItem
{
    list-style: none;
    background-color: #0F6674;
    /* padding: 11px; */
    color: #A4E4EC;
    font-size: 15px;
    font-weight: 600;
    padding: 11px 23px;
    border-bottom: 1px solid #507d84;
}

.mainListItem > .listItem
{
    
    font-size: 15px;
    font-weight: 600;
    /* padding: 11px 23px; */
    /* border-bottom: 1px solid #507d84; */
}

.mainListItem.selected
{
    color: #fff;
    /* padding: 11px; */
    font-size: 15px;
    font-weight: 600;
    /* padding: 11px 23px; */
    border-left: 5px solid #a5e5ec;
    background: #3dc7cf;
}
.mainListItem.selected a{
    color: #fff;
    
    
}
.selected > .listItem
{
    color: #0f6674;
}
.mainListItem.listItem{
    text-decoration: none;
    color: #3dc7cf;
    display: block;
    padding: 11px;
 transition: 0.5s linear;
}
.mainListItem:hover a
{
    color: #fff;
}

.mainListItem:hover{
    background: #3dc7cf;
    border-left: 5px solid #a5e5ec;
} 
.listItem :hover {
    background: transparent !important;
    
}

.menuIcon
{
    font-size: 17px;
    padding-right: 10px;
}