.row {
    margin-right: 0px;
    margin-left: 0px;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px;
    outline-offset: 0px;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0px;
}
:focus {
    outline: 0px;
}


/*Media Queries */
@media(max-width:1199px){ 

                       } /* @media(max-width:1199px) */
@media(max-width:1024px){ 
.userAuthorName {
    font-size: 15px;
}
                        } /* @media(max-width:1024px) */					   
        
@media(max-width:992px){ 
.menuIcon {
   font-size: 100px;
}
                       } /* @media(max-width:992px) */
@media screen and (max-width:812px) and (orientation : landscape){
.menuText {
    display: block;
    margin-top: 10px;
}

section.sidebarBx {
	position: absolute;
    z-index: 9999;
    overflow: auto;
}	
                       } /* @media(max-width:812px) */					   
@media(max-width:768px){
.menuIcon {
   font-size: 40px !important; 
}
.menuText {
    display: block;
    margin-top: 10px;
}
.logoBox1{
    padding: 0;
}
.userAuthorName , .userAuthorEmail{
    display: none;
}
.inner {
    text-align: center;
}
.menuIcon {
	 padding-right: 0px; 
}

                       } /* @media(max-width:767px) */
@media(max-width:736px){
.createTaskDiv input {
  font-size: 16px;
}	
.menuText {
    font-size: 12px;
}
.menuIcon {
    font-size: 25px !important;
    padding-right: 0px; 
}
.createProjetcDiv {
    padding: 13px 10px;
}
.btncreateproject {
    font-size: 15px;
}
.timerdiv {
    font-size: 20px;
    padding: 18px 10px;
}
.btnPlay {
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 3px 7px;
}
.btnPlaydiv {
    padding: 16px 10px;
}
                       } /* @media(max-width:737px) */
@media(max-width:667px){

                       }  /* @media(max-width:667px) */ 
					   
@media(max-width:600px){

                       } /* @media(max-width:600px) */ 	

@media(max-width:576px){
.menuIcon {
   font-size: 100px;
}
                       } /* @media(max-width:538px) */ 						      
@media(max-width:480px){					  
			       
                        } /* @media(max-width:480px) */ 	
			
@media(max-width:460px){

                        } /* @media(max-width:480px) */ 
@media(max-width:400px){

                        } /* @media(max-width:400px) */ 

@media(max-width:330px){

                       } /* @media(max-width:330px) */