.footer_container
{
    bottom: 0;
    /* background-color: #a5e5ec; */
    height: auto;
    position: absolute;
    width: 100%;
    min-height: 50px;
    border-top: 1px solid #ccc;
}
.footer-logo
{
    height: 20px;
}