.SideTitle {
    float: right;
    margin-top: -37px;
    font-size: 16px;
    color: #ffffff;
    margin-right: 3px;
    padding: 0px;
}
section.sidebarBx {
    background: #0f6674;
    /* padding: 20px; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logoImage
{
    width: 50px;
}

.logoBox1
{
    padding: 5px;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
}

