/*.actionbar_container {
    height: 65px;
    background: #fff;
    display: flex;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 6px -6px black;
}
*/
.actionbar_container {
    height: 65px;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0 4px 6px -6px black;
    box-shadow: 0 4px 6px -6px black;
    position: absolute;
    top: 0;
    z-index: 99999;
    width: 100%;
    right: 0;
    left: 0;
}
.createTaskDiv
{
    width: 100%;
    margin-left: 20px;
    padding-right: 20px;
}

.createTaskDiv input
{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 20px; 
}
.btncreateproject
{
    width: auto;
    height: 100%;
    overflow: auto;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    font-size: 18px;
    border: 1px solid #ccc;
    color: #0f6674;
}
.timerdiv
{
    font-size: 25px;
    color: #3dc7ce;
    padding: 10px;
}
.btnPlaydiv{
    padding: 10px;
}
.btnPlay {
    background: #0f6673;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 2px solid #3dc7cf;
}
.btnPlay span
{
    color: #3ec7cf;
}