.login_container {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 20px;
    margin: 0px;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: left;
}

.form-group {
    margin-bottom: 25px;
}

.form-signin {
    width: 530px;
}

.form-control {
    padding: 21px;
    font-size: 16px;
}

.form-signin-heading {
    margin-bottom: 26px;
    color: #337ab7;
}

.signUplink {
    float: right;
    /* padding: 10px; */
    /* margin-top: 26px; */
    text-decoration: none;
    color: #70afb2;
    font-size: 20px;
    vertical-align: middle;
}
/* 
.signUplink:active {
    float: right;
    padding: 10px;
    margin-top: 26px;
    border: 1px solid #0c939b;
    background-color: #0c939b;
    text-decoration: none;
    color: #ffffff;
} */
/* .signUplink:hover {
    float: right;
    padding: 10px;
    margin-top: 26px;
    border: 1px solid #0c939b;
    background-color: #0c939b;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
} */

.SignUpLinkDiv
{
    padding-top: 25px;
}

.login_container {
    width: 100%;
    height: 100vh;
    background: #fff;
    padding: 20px;
    margin: 0px;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: left;
    justify-content: left;
}


.signin_up_title
{
    display: inline-block;
}

.signin_up_btn
{
    display: inline-block;
    float: right;
}